@model List<WebMarket.Models.Security.User>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var user in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", user.Id) |
            @Html.ActionLink("Details", "Details", user.Id) |
            @Html.ActionLink("Delete", "Delete", user.Id)
        </td>
    </tr>
}

</table>
